@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
body{
    background: url(/Images/bg-image.jpg);  
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 99%;
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: poppins;
}
nav{
    display: flex;
    flex-direction: row;
}
.logo{
    margin: 20px 100px;
}
.list{
    display: flex;
    flex-direction: row;
    margin-left: 170px;
    padding: 0 40px 30px 1px;
    border-bottom: 1px solid #fff;
}
.list-item{
    list-style: none;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 15px;
    font-weight: 700;
}
.contact{
    list-style: none;
    margin-top: 20px;
    margin-left: 5px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 700;
}
.phone{
    height: 40px;
    margin-top: 20px;
    margin-left: 5px;
    list-style: none;
}
.second{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
}
.heading h1{
    width: 80%;
    font-size: 60px;
    margin-left: 100px;
    margin-top: 100px;
}
.box1{
    margin-left: 50px;
    margin-top: 50px;
    background-color: #304555;
    width: 50%;
    height: 25vh;
}
.box1 p{
    width: 90%;
    font-size: 15px;
    font-weight: 200;
    margin-top: 50px;
    margin-left: 20px;
}
.box1 img{
    height: 40px;
    width: 80px;
    margin-left: 20px;
    margin-bottom: -30px;
    margin-top: 30px;
    border-radius: 50px;
}
.third{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
}
.third button{
    background-color: transparent;
    color: #fff;
    padding: 15px 40px;
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    margin-left: 100px;
    margin-top: 30px;
}
.box2{
    margin-left: -40px;
    margin-top: -11px;
    background-color: #304555;
    width: 50%;
    height: 25vh;
}
.box2 p{
    width: 70%;
    font-size: 15px;
    font-weight: 200;
    margin-top: 40px;
    margin-left: 20px;
}
.box2 img{
    height: 45px;
    width: 90px;
    margin-left: 20px;
    margin-bottom: -30px;
    margin-top: 20px;
    border-radius: 50px;
}
/* responsive */
@media screen and (max-width: 1230px) {
    .heading h1{
        font-size: 40px;
        margin-left: 50px;
        margin-top: 50px;
    }
}
@media screen and (max-width: 700px) {
    .logo{
        margin: 15px 20px;
    }
    nav .list-item{
        display: none;
    }
    .second{
        display: grid;
        grid-template-columns:1fr;
    }
    .heading h1{
        font-size: 40px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .box1{
        margin-top: 0px;
        margin-left: 90px;
    }
    .third{
        display: grid;
        grid-template-columns:1fr;
    }
    .button{
        margin-left: 20px;
    }
    .box2{
        margin: 30px 90px;
    }
}